<div class="empresas">
  <div class="empresastitulo">
    <h1>Descubre las mejores empresas del sector:</h1>
  </div>
  <div class="carrusel" #carrusel>
    <div class="elemento">
      <img src="imagenesempresas/APPLE.webp" alt="Empresa Apple">
      <span class="empresa-texto">APPLE</span>
    </div>
    <div class="elemento">
      <img src="imagenesempresas/nvidia.jpg" alt="Empresa NVIDIA">
      <span class="empresa-texto">NVIDIA</span>
    </div>
    <div class="elemento">
      <img src="imagenesempresas/KPMG.jpg" alt="Empresa KPMG">
      <span class="empresa-texto">KPMG</span>
    </div>
    <div class="elemento">
      <img src="imagenesempresas/MICROSOFT.jpg" alt="Empresa Microsoft">
      <span class="empresa-texto">MICROSOFT</span>
    </div>
    <div class="elemento">
      <img src="imagenesempresas/TELEFONICA.jpg" alt="Empresa Telefónica">
      <span class="empresa-texto">TELEFONICA</span>
    </div>
    <div class="elemento">
      <img src="imagenesempresas/OPENAI.webp" alt="Empresa OpenAI">
      <span class="empresa-texto">OPEN AI</span>
    </div>
    <div class="elemento">
      <img src="imagenesempresas/AMAZON.webp" alt="Empresa Amazon">
      <span class="empresa-texto">AMAZON</span>
    </div>
  </div>
</div>